{% trans_default_domain "content_fields" %}

{% extends "@IbexaCore/content_fields.html.twig" %}

{% block ngenhancedlink_field %}
    {% apply spaceless %}
        {% if not ibexa_field_is_empty( content, field ) %}
            <h1>THIS IS (DEFAULT) TEMPLATE FOR FRONTEND VIEW</h1>

            <div {{ block( 'field_attributes' ) }}>
                {% if field.value.isInternal%}
                    {% if field.value.isTargetModal %}
                        <a href="#"
                           class="button btn btn-default btn-large btn-arrow-right form-modal-trigger"
                           data-url="{{ path('app_collect_info_modal', {formLocationId: field.value.reference, refererLocationId: field.value.reference}) }}">
                            {% if field.value.label is not empty %}
                                {{ field.value.label }}
                            {% endif %}
                        </a>
                    {% elseif field.value.isTargetInPlace %}
                        <div class="form-in-place">
                            {{ render(
                                controller(
                                    "ibexa_content::viewAction",
                                    {
                                        'contentId': field.value.reference,
                                        'viewType': 'embed',
                                        'layout': false
                                    }
                                )
                            ) }}
                        </div>
                    {% else %}
                        {{ render(
                            controller(
                                "ibexa_content::viewAction",
                                {
                                    'contentId': field.value.reference,
                                    'viewType': 'text_linked',
                                    'layout': false
                                }
                            )
                        ) }}
                    {% endif %}
                {% endif%}
                {% if field.value.isExternal %}
                    {% if field.value.isTargetLinkInNewTab %}
                        <a href="{{ field.value.reference }}" {{ block( 'field_attributes' ) }} target="_blank">{{ field.value.label ? field.value.label : field.value.reference }}</a>
                    {% else %}
                        <a href="{{ field.value.reference }}" {{ block( 'field_attributes' ) }} >{{ field.value.label ? field.value.label : field.value.reference }}</a>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    {% endapply %}
{% endblock %}
